<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <img src="@/assets/logo.png" alt="Vuetify.js" class="mb-5">
        <v-btn color="primary" @click="login">Click Here to Login</v-btn>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script type="text/javascript">
export default {
  name: 'login',
  methods: {
    login () {
      const data = {
        username: 'some-user-name',
        password: 'hyksYjk65'
      }
      this.$store.dispatch('login', data)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
