<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <h1>protected route</h1>

        <h4 color="red--text">{{ errorMSG }}</h4>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script type="text/javascript">
export default {
  name: 'protected',
  created () {
    console.log(this.$store.getters.token)
    if (!this.$store.getters.token) {
      this.errorMSG = 'Sorry there is no token in store. so redirecting to login in 5s.'
      setTimeout(() => {
        this.$router.push({
          name: 'login'
        })
      }, 5000)
    }
  },
  data: () => ({
    errorMSG: ''
  })
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
